@{
    ViewData["Title"] = "Home Page";
}
@model List<CurriculoViewModel>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Prototipo</title>
    <link rel="stylesheet" type="text/css" href="~/css/prototipo.css" media="screen" />
</head>

<body>
    <header>
        <nav id="nav-menu">
            <div id="site-name">
                CURRICULUM
                <span>
                    <div class="menu-right">
                        <a asp-area="" asp-controller="Home" asp-action="Index" id="sub-menu"> Menu Inicial</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="ListaBD" id="sub-menu">Lista de Currículos</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href=" # ">Ajuda</a>
                    </div>
                </span>
            </div>
        </nav>
    </header>

    <div id="background" class="col-12">
        <div id="under-header">
            <img src="~/img/curriculologo.png" alt=" Curriculum ">
            <h1 class="textoMenor">Rápido. Simples. Fácil de usar.</h1>
            <h1 class="textoMaior">Nome do Site. O melhor gerador de currículos online.</h1>
            <h1 class="textoMédio">Clique no botão para iniciar seu novo currículo.</h1>
            <h1 class="textoMédio">Se quiser editar, acesse um currículo para editar pela tabela</h1>
            <div class="button">
                <a href="Cadastro/NovoCurriculo" class="myButton1">Crie seu Curriculo !</a>
               <!-- <a asp-area="" asp-controller="Cadastro" asp-action="CadastroPessoal" class="myButton2">Edite seu currículo !</a>-->
            </div>
            <div class="button">
                <a href="Home/ListaBD" class="myButton1">Veja seu Curriculo !</a>
                <!-- <a asp-area="" asp-controller="Cadastro" asp-action="CadastroPessoal" class="myButton2">Edite seu currículo !</a>-->
            </div>
            </div>
        </div>

        <div id="rodapé"></div>
    </body>

    </html>
