@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Prototipo</title>
    <link rel="stylesheet" type="text/css" href="~/css/prototipo.css" media="screen" />
</head>

<body>
    <header>
        <nav id="nav-menu">
            <div id="site-name">
                CURRICULUM
                <span>
                    <div class="menu-right">
                        <a id="sub-menu" href=" # ">Sua Conta</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a id="sub-menu" href=" # ">Lista de Desejos</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href=" # ">Ajuda</a>
                    </div>
                </span>
            </div>
        </nav>
    </header>

    <div id="background" class="col-12">
        <div id="under-header">
            <img src="~/img/curriculologo.png" alt=" Curriculum ">
            <h1 class="textoMenor">Rápido. Simples. Fácil de usar.</h1>
            <h1 class="textoMaior">Nome do Site. O melhor gerador de currículos online.</h1>
            <h1 class="textoMédio">Clique no botão para iniciar seu novo currículo.</h1>
            <h1 class="textoMédio">Se quiser editar, acesse um currículo para editar pela tabela</h1>
            <div class="button">
                <a asp-area="" asp-controller="Cadastro" asp-action="CadastroPessoal" class="myButton">Crie seu Curriculo !</a>
            </div>
        </div>

        <table class="tblSelect">
            <thead>
                <tr>
                    <th class="link">Ação</th>
                    <th>head1</th>
                    <th>head2</th>
                    <th>head3</th>
                    <th>head4</th>
                </tr>
            </thead>
            <tbody>
               
            <tbody>
                <tr>
                    <td><a href="#">Ver</a></td>
                    <td>cell2_0</td>
                    <td>cell3_0</td>
                    <td>cell4_0</td>
                    <td>cell4_0</td>
                </tr>
                <tr>
                    <td><a href="#">Ver</a></td>
                    <td>cell2_1</td>
                    <td>cell3_1</td>
                    <td>cell4_1</td>
                    <td>cell4_1</td>
                </tr>
                <tr>
                    <td><a href="#">Ver</a></td>
                    <td>cell2_2</td>
                    <td>cell3_2</td>
                    <td>cell4_2</td>
                    <td>cell4_2</td>
                </tr>
                <tr>
                    <td><a href="#">Ver</a></td>
                    <td>cell2_3</td>
                    <td>cell3_3</td>
                    <td>cell4_3</td>
                    <td>cell4_3</td>
                </tr>
                <tr>
                    <td><a href="#">Ver</a></td>
                    <td>cell2_4</td>
                    <td>cell3_4</td>
                    <td>cell4_4</td>
                    <td>cell4_4</td>
                </tr>
            </tbody>
           
           
        </table>
    </div>

    <div id="rodapé"></div>
</body>

</html>
