<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Criar curriculo</title>
    <link rel="stylesheet" type="text/css" href="~/css/prototipo.css" media="screen" />
</head>

<body>

    <header>
        <nav id="nav-menu">
            <div id="site-name">
                CURRICULUM
                <span>
                    <div class="menu-right">
                        <a asp-area="" asp-controller="Home" asp-action="Index" id="sub-menu"> Menu Inicial</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="ListaBD" id="sub-menu">Lista de Currículos</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href=" # ">Ajuda</a>

                    </div>
                </span>
            </div>
        </nav>
    </header>

    <div id="background">
        <div id="sub-background">
            <div class="sobre">
                <h1>
                    Este site foi feito por Caio Foramiglio Vieira (mais abaixo) e Guilherme Simon Lehr (mais acima), ambos estudantes de Engenharia da
                    Computação na Faculdade de Tecnologia Termomecanica no quinto semestre do curso.
                </h1>
            </div>

            <div class="imgIntegrantes">
                <img width="30%" class="imgLehr" src="~/img/1567165053421.jpg" alt="Autor: Guilherme Simon">

                <img width="25%" class="imgCaio" src="~/img/Caio.jpeg" alt="Autor: Caio Foramiglio">

            </div>
            <h1 class="pLehr">
                Guilherme Simon Lehr
            </h1>

            <h1 class="pCaio">
                Caio Foramiglio Vieira
            </h1>

        </div>
    </div>

    <div id="rodapé">

 
    </div>
</body>

</html>