@model CurriculoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Criar curriculo</title>
    <link rel="stylesheet" type="text/css" href="~/css/prototipo.css" media="screen" />
</head>

<body>

    <header>
        <nav id="nav-menu">
            <div id="site-name">
                CURRICULUM
                <span>
                    <div class="menu-right">
                        <a asp-area="" asp-controller="Home" asp-action="Index" id="sub-menu">Menu Inicial</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href=" # ">Ajuda</a>
                    </div>
                </span>
            </div>
        </nav>
    </header>

    <div id="background">
        <div id="uniaoDivs">

        </div>
        <div id="sub-background">
            <div id="FormFormacao" accept-charset="UTF-8" action="action_page.php" autocomplete="off" target="_blank">
                <form asp-action="Salvar2" asp-route-id="@Model.cpf" method="post">
                    <div>
                        <label class="titleFormacao">CADASTRO DE FORMAÇÃO ACADEMICA E CURSOS</label>
                    </div>
                    <div style="margin: 0 auto; text-align: center; width: 100%">
                        <div style="float: left; margin: 0px 15px 0px 15px; text-align: justify; width: 60%">
                            <div class="semCursos">
                                <h1 class="formacao">
                                    <label for="formacao">Formação: </label>
                                    <select asp-for="formacao" name="formacao" id="formacao">
                                        <option value="Estudante">Estudante</option>
                                        <option value="EMCompleto">Ensino Médio Completo</option>
                                        <option value="EMIncompleto">Ensino Médio Incompleto</option>
                                        <option value="CursandoSuperior">Cursando Ens. Superior</option>
                                        <option value="Sup.Completo">Ens. Superior Completo</option>
                                        <option value="PosGrad">Pós Graduado</option>
                                        <option value="PosIncomp.">Pós Graduação Incompleto</option>
                                    </select>
                                </h1>
                            </div>

                            <h1 class="formacao">
                                <label id="CabecalhoCurso">Cursos</label>
                            </h1>

                            <h1 class="formacao">
                                <label>Curso 1:</label>
                                <input asp-action="" type="text" name="curso1" id="cursos" asp-for="curso1" title="Digite um curso que você tenha feito (até 5)" required />
                            </h1>
                            <h1 class="formacao">
                                <label>Curso 2:</label>
                                <input asp-action="" type="text" name="curso2" id="cursos" asp-for="curso2" title="Digite um curso que você tenha feito (até 5)" />
                            </h1>
                            <h1 class="formacao">
                                <label>Curso 3:</label>
                                <input asp-action="" type="text" name="curso3" id="cursos" asp-for="curso3" title="Digite um curso que você tenha feito (até 5)" />
                            </h1>
                            <h1 class="formacao">
                                <label>Curso 4:</label>
                                <input asp-action="" type="text" name="curso4" id="cursos" asp-for="curso4" title="Digite um curso que você tenha feito (até 5)" />
                            </h1>
                            <h1 class="formacao">
                                <label>Curso 5:</label>
                                <input asp-action="" type="text" name="curso5" id="cursos" asp-for="curso5" title="Digite um curso que você tenha feito (até 5)" />
                            </h1>
                        </div>
                        <!--=================================================================================================================================================================================================================-->
                        <div style="float: left; margin: 0px 0px 0px 0px; text-align: justify; width: 30%;">
                            <img width="100%" class="ilustrativa1" src="~/img/curriculoex3.jpg">
                            <div class="button">
                                <input type="submit" value="Avançar" class="advanceButton" href="~/Cadastro/Salvar1?id=@Model.cpf"/>
                                <!--<button asp-area="" asp-controller="Cadastro" asp-action="CadastroExpProf" class="advanceButton">
                                    Avançar
                                </button>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="rodapéForm">

        </div>
</body>

</html>