@model CurriculoViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Criar curriculo</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/prototipo.css" media="screen" />
</head>

<body>

    <header>
        <nav id="nav-menu">
            <div id="site-name">
                CURRICULUM
                <span>
                    <div class="menu-right">
                        <a asp-area="" asp-controller="Home" asp-action="Index" id="sub-menu">Menu Inicial</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href=" # ">Ajuda</a>
                    </div>
                </span>
            </div>
        </nav>
    </header>

    <div id="background">
        <div id="uniaoDivs">

        </div>
        <div id="sub-background">
            <div id="FormIdioma" accept-charset="UTF-8" action="action_page.php" autocomplete="off" target="_blank">
                <form asp-action="Salvar4" asp-route-id="@Model.cpf" method="post">
                    <div>
                        <label class="titleIdioma">CADASTRO DE IDIOMA</label>
                    </div>
                    <div style="margin: 0 auto; text-align: center; width: 100%">
                        <div style="float: left; margin: 0px 15px 0px 15px; text-align: justify; width: 70%">
                            <h1 class="idioma">
                                <br />
                                <label for="idioma1" id="idioma1">Idioma </label>
                                <select name="idioma1" id="idioma1" asp-for="idioma1">
                                    <option value=""></option>
                                    <option value="1">Africâner</option>
                                    <option value="2">Albanês</option>
                                    <option value="3">Alemão</option>
                                    <option value="5">Árabe</option>
                                    <option value="6">Armênio</option>
                                    <option value="7">Azerbaijano</option>
                                    <option value="10">Bielorrusso</option>
                                    <option value="12">Bósnio</option>
                                    <option value="13">Búlgaro</option>
                                    <option value="15">Catalão</option>
                                    <option value="18">Chinês (simplificado)</option>
                                    <option value="19">Chinês (tradicional)</option>
                                    <option value="21">Coreano</option>
                                    <option value="23">Croata</option>
                                    <option value="25">Dinamarquês</option>
                                    <option value="26">Eslovaco</option>
                                    <option value="27">Esloveno</option>
                                    <option value="28">Espanhol</option>
                                    <option value="30">Estoniano</option>
                                    <option value="31">Filipino</option>
                                    <option value="32">Finlandês</option>
                                    <option value="33">Francês</option>
                                    <option value="39">Grego</option>
                                    <option value="41">Haitiano</option>
                                    <option value="43">Havaiano</option>
                                    <option value="44">Hebraico</option>
                                    <option value="45">Híndi</option>
                                    <option value="47">Holandês</option>
                                    <option value="48">Húngaro</option>
                                    <option value="51">Indonésio</option>
                                    <option value="52">Inglês</option>
                                    <option value="54">Irlandês</option>
                                    <option value="55">Islandês</option>
                                    <option value="56">Italiano</option>
                                    <option value="57">Japonês</option>
                                    <option value="61">Latim</option>
                                    <option value="63">Lituano</option>
                                    <option value="64">Luxemburguês</option>
                                    <option value="65">Macedônio</option>
                                    <option value="72">Mongol</option>
                                    <option value="75">Norueguês</option>
                                    <option value="79">Persa</option>
                                    <option value="80">Polonês</option>
                                    <option value="81">Português</option>
                                    <option value="84">Romeno</option>
                                    <option value="85">Russo</option>
                                    <option value="87">Sérvio</option>
                                    <option value="92">Sueco</option>
                                    <option value="95">Tailandês</option>
                                    <option value="97">Tártaro</option>
                                    <option value="98">Tcheco</option>
                                    <option value="100">Turco</option>
                                    <option value="101">Turcomeno</option>
                                    <option value="104">Uzbeque</option>
                                    <option value="105">Vietnamita</option>
                                </select>
                            </h1>
                            <br />
                            <h1 class="idioma">
                                <label for="idioma2" id="idioma">Idioma </label>
                                <select name="idioma2" id="idioma" asp-for="idioma2">
                                    <option value=""></option>
                                    <option value="1">Africâner</option>
                                    <option value="2">Albanês</option>
                                    <option value="3">Alemão</option>
                                    <option value="5">Árabe</option>
                                    <option value="6">Armênio</option>
                                    <option value="7">Azerbaijano</option>
                                    <option value="10">Bielorrusso</option>
                                    <option value="12">Bósnio</option>
                                    <option value="13">Búlgaro</option>
                                    <option value="15">Catalão</option>
                                    <option value="18">Chinês (simplificado)</option>
                                    <option value="19">Chinês (tradicional)</option>
                                    <option value="21">Coreano</option>
                                    <option value="23">Croata</option>
                                    <option value="25">Dinamarquês</option>
                                    <option value="26">Eslovaco</option>
                                    <option value="27">Esloveno</option>
                                    <option value="28">Espanhol</option>
                                    <option value="30">Estoniano</option>
                                    <option value="31">Filipino</option>
                                    <option value="32">Finlandês</option>
                                    <option value="33">Francês</option>
                                    <option value="39">Grego</option>
                                    <option value="41">Haitiano</option>
                                    <option value="43">Havaiano</option>
                                    <option value="44">Hebraico</option>
                                    <option value="45">Híndi</option>
                                    <option value="47">Holandês</option>
                                    <option value="48">Húngaro</option>
                                    <option value="51">Indonésio</option>
                                    <option value="52">Inglês</option>
                                    <option value="54">Irlandês</option>
                                    <option value="55">Islandês</option>
                                    <option value="56">Italiano</option>
                                    <option value="57">Japonês</option>
                                    <option value="61">Latim</option>
                                    <option value="63">Lituano</option>
                                    <option value="64">Luxemburguês</option>
                                    <option value="65">Macedônio</option>
                                    <option value="72">Mongol</option>
                                    <option value="75">Norueguês</option>
                                    <option value="79">Persa</option>
                                    <option value="80">Polonês</option>
                                    <option value="81">Português</option>
                                    <option value="84">Romeno</option>
                                    <option value="85">Russo</option>
                                    <option value="87">Sérvio</option>
                                    <option value="92">Sueco</option>
                                    <option value="95">Tailandês</option>
                                    <option value="97">Tártaro</option>
                                    <option value="98">Tcheco</option>
                                    <option value="100">Turco</option>
                                    <option value="101">Turcomeno</option>
                                    <option value="104">Uzbeque</option>
                                    <option value="105">Vietnamita</option>
                                </select>
                            </h1>
                            <br />
                            <h1 class="idioma">
                                <label for="idioma3" id="idioma">Idioma </label>
                                <select name="idioma3" id="idioma3" asp-for="idioma3">
                                    <option value=""></option>
                                    <option value="1">Africâner</option>
                                    <option value="2">Albanês</option>
                                    <option value="3">Alemão</option>
                                    <option value="5">Árabe</option>
                                    <option value="6">Armênio</option>
                                    <option value="7">Azerbaijano</option>
                                    <option value="10">Bielorrusso</option>
                                    <option value="12">Bósnio</option>
                                    <option value="13">Búlgaro</option>
                                    <option value="15">Catalão</option>
                                    <option value="18">Chinês (simplificado)</option>
                                    <option value="19">Chinês (tradicional)</option>
                                    <option value="21">Coreano</option>
                                    <option value="23">Croata</option>
                                    <option value="25">Dinamarquês</option>
                                    <option value="26">Eslovaco</option>
                                    <option value="27">Esloveno</option>
                                    <option value="28">Espanhol</option>
                                    <option value="30">Estoniano</option>
                                    <option value="31">Filipino</option>
                                    <option value="32">Finlandês</option>
                                    <option value="33">Francês</option>
                                    <option value="39">Grego</option>
                                    <option value="41">Haitiano</option>
                                    <option value="43">Havaiano</option>
                                    <option value="44">Hebraico</option>
                                    <option value="45">Híndi</option>
                                    <option value="47">Holandês</option>
                                    <option value="48">Húngaro</option>
                                    <option value="51">Indonésio</option>
                                    <option value="52">Inglês</option>
                                    <option value="54">Irlandês</option>
                                    <option value="55">Islandês</option>
                                    <option value="56">Italiano</option>
                                    <option value="57">Japonês</option>
                                    <option value="61">Latim</option>
                                    <option value="63">Lituano</option>
                                    <option value="64">Luxemburguês</option>
                                    <option value="65">Macedônio</option>
                                    <option value="72">Mongol</option>
                                    <option value="75">Norueguês</option>
                                    <option value="79">Persa</option>
                                    <option value="80">Polonês</option>
                                    <option value="81">Português</option>
                                    <option value="84">Romeno</option>
                                    <option value="85">Russo</option>
                                    <option value="87">Sérvio</option>
                                    <option value="92">Sueco</option>
                                    <option value="95">Tailandês</option>
                                    <option value="97">Tártaro</option>
                                    <option value="98">Tcheco</option>
                                    <option value="100">Turco</option>
                                    <option value="101">Turcomeno</option>
                                    <option value="104">Uzbeque</option>
                                    <option value="105">Vietnamita</option>
                                </select>
                            </h1>
                        </div>
                        <!--=================================================================================================================================================================================================================-->
                        <div style="float: left; margin: -100px 400px; text-align: justify; width: 30%;">
                            <img width="130%" class="ilustrativa3" src="~/img/curriculoex3.jpg">
                            <div class="button">
                                <input type="submit" value="Avançar" class="advanceButtonFinal" href="~/Cadastro/Salvar4?id=@Model.cpf" />

                                <!--<button asp-area="" asp-controller="Home" asp-action="Index" class="advanceButton3" href="~/Cadastro/Salvar4?id=@Model.cpf">
        Avançar
    </button>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <div id="rodapéForm">

    </div>
</body>

</html>