@model CurriculoViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Criar curriculo</title>
    <link rel="stylesheet" type="text/css" href="~/css/prototipo.css" media="screen" />
</head>

<body>

    <header>
        <nav id="nav-menu">
            <div id="site-name">
                CURRICULUM
                <span>
                    <div class="menu-right">
                        <a asp-area="" asp-controller="Home" asp-action="Index" id="sub-menu">Menu Inicial</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href=" # ">Ajuda</a>
                    </div>
                </span>
            </div>
        </nav>
    </header>

    <div id="background">
        <div id="uniaoDivs">

        </div>
        <div id="sub-background">
            <div id="divPessoal" accept-charset="UTF-8" action="action_page.php" autocomplete="off" target="_blank">
                <form asp-action="Salvar3" asp-route-id="@Model.cpf" method="post">
                    <div>
                        <label class="titleExp">CADASTRO DE EXPERIÊNCIA PROFISSIONAL</label>
                    </div>
                    <div style="margin: 0 auto; text-align: center; width: 100%">
                        <div style="float: left; margin: 0px 15px 0px 15px; text-align: justify; width: 60%">

                            <h1 class="expProf">
                                <label>1ª Experiência:</label>
                                <input asp-action="" type="text" name="experiencia1" onkeypress="DesabilitaCampo()" id="experiencia1" title="Digite sua experiência profissional (até 3)"  asp-for="experiencia1" />
                                <br />
                                <label>De:</label>
                                <input asp-action="" type="date" name="experiencia1Desde" id="experiencia1Desde" title="Digite o período de sua experiência profissional (até 3)" disabled asp-for="experiencia1Desde"/>
                                <label>Até:</label>
                                <input asp-action="" type="date" name="experiencia1Ate" id="experiencia1Ate" title="Digite o período de sua experiência profissional (até 3)" disabled  asp-for="experiencia1Ate"/>
                            </h1>

                            <script type="text/javascript">
                                function DesabilitaCampo () {
                                    if (document.getElementById("experiencia1").value != null || document.getElementById("experiencia1").value != "") {
                                        document.getElementById("experiencia1Desde").disabled = false;
                                        document.getElementById("experiencia1Ate").disabled = false;
                                        console.log("dentro if");

                                    }
                                    else {
                                        document.getElementById("experiencia1Desde").disabled = true;
                                        document.getElementById("experiencia1Ate").disabled = true;
                                        console.log("dentro else");
                                    }
                                }
                            </script>

                            <h1 class="expProf">
                                <label>2ª Experiência:</label>
                                <input asp-action="" type="text" name="experiencia2" id="experiencia2" title="Digite sua experiência profissional (até 3)" asp-for="experiencia2"/>
                                <br />
                                <label>De:</label>
                                <input asp-action="" type="date" name="experiencia2Desde" id="experiencia2Desde" title="Digite o período de sua experiência profissional (até 3)" disabled asp-for="experiencia2Desde"/>
                                <label>Até: </label>
                                <input asp-action="" type="date" name="experiencia2Ate" id="experiencia2Ate" title="Digite o período de sua experiência profissional (até 3)" disabled asp-for="experiencia2Ate"/>
                            </h1>
                            <script type="text/javascript">
                                document.getElementById("experiencia2").focusout = function () {
                                    if (document.getElementById("experiencia2").value != null) {
                                        document.getElementById("experiencia2Desde").disabled = false;
                                        document.getElementById("experiencia2Ate").disabled = false;

                                    }
                                    else {
                                        document.getElementById("experiencia2Desde").disabled = true;
                                        document.getElementById("experiencia2Ate").disabled = true;
                                    }
                                }
                            </script>
                            <h1 class="expProf">
                                <label>3ª Experiência:</label>
                                <input asp-action="" type="text" name="experiencia3" id="experiencia3" title="Digite sua experiência profissional (até 3)" asp-for="experiencia3"/>
                                <br />
                                <label>De:</label>
                                <input asp-action="" type="date" name="experiencia3Desde" id= "experiencia3Desde" title="Digite o período de sua experiência profissional (até 3)" disabled asp-for="experiencia3Desde"/>
                                <label>Até: </label>
                                <input asp-action="" type="date" name="experiencia3Ate" id="experiencia3Ate" title="Digite o período de sua experiência profissional (até 3)" disabled asp-for="experiencia3Ate"/>
                            </h1>
                            <script type="text/javascript">
                                document.getElementById("experiencia3").focusout = function () {
                                    if (document.getElementById("experiencia3").value != null) {
                                        document.getElementById("experiencia3Desde").disabled = false;
                                        document.getElementById("experiencia3Ate").disabled = false;

                                    }
                                    else {
                                        document.getElementById("experiencia3Desde").disabled = true;
                                        document.getElementById("experiencia3Ate").disabled = true;
                                    }
                                }
                            </script>

                        </div>
                        <!--=================================================================================================================================================================================================================-->
                        <div style="float: left; margin: 0px 0px 0px 0px; text-align: justify; width: 30%;">
                            <img width="100%" class="ilustrativa1" src="~/img/curriculoex3.jpg">
                            <div class="button">
                                <input type="submit" value="Avançar" class="advanceButton" href="~/Cadastro/Salvar3?id=@Model.cpf" />

                                <!--<button asp-area="" asp-controller="Home" asp-action="Index" class="advanceButton3" href="~/Cadastro/Salvar3?id=@Model.cpf">
        Avançar
    </button>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <div id="rodapéForm">

    </div>
</body>

</html>