@model CurriculoViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Criar curriculo</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/prototipo.css" media="screen" />
</head>

<body>

    <header>
        <nav id="nav-menu">
            <div id="site-name">
                CURRICULUM
                <span>
                    <div class="menu-right">
                        <a asp-area="" asp-controller="Home" asp-action="Index" id="sub-menu">Menu Inicial</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                    </div>
                </span>
            </div>
        </nav>
    </header>

    <div id="background">
        <div id="uniaoDivs">

        </div>
        <div id="sub-background">
            <div id="FormIdioma" accept-charset="UTF-8" action="action_page.php" autocomplete="off" target="_blank">
                <form asp-action="Salvar4" asp-route-id="@Model.cpf" method="post">
                    <div>
                        <label class="titleIdioma">CADASTRO DE IDIOMA</label>
                    </div>
                    <div style="margin: 0 auto; text-align: center; width: 100%">
                        <div style="float: left; margin: 0px 15px 0px 15px; text-align: justify; width: 70%">
                            <h1 class="idioma">
                                <br />
                                <label for="idioma1" id="idioma1">Idioma </label>
                                <select name="idioma1" id="idioma1" asp-for="idioma1">
                                    <option value=""></option>
                                    <option value="Africâner">Africâner</option>
                                    <option value="Albanês">Albanês</option>
                                    <option value="Alemão">Alemão</option>
                                    <option value="Árabe">Árabe</option>
                                    <option value="Armênio">Armênio</option>
                                    <option value="Azerbaijano">Azerbaijano</option>
                                    <option value="Bielorrusso">Bielorrusso</option>
                                    <option value="Bósnio">Bósnio</option>
                                    <option value="Búlgaro">Búlgaro</option>
                                    <option value="Catalão">Catalão</option>
                                    <option value="Chinês (simplificado)">Chinês (simplificado)</option>
                                    <option value="Chinês (tradicional)">Chinês (tradicional)</option>
                                    <option value="Coreano">Coreano</option>
                                    <option value="Croata">Croata</option>
                                    <option value="Dinamarquês">Dinamarquês</option>
                                    <option value="Eslovaco">Eslovaco</option>
                                    <option value="Esloveno">Esloveno</option>
                                    <option value="Espanhol">Espanhol</option>
                                    <option value="Estoniano">Estoniano</option>
                                    <option value="Filipino">Filipino</option>
                                    <option value="Finlandês">Finlandês</option>
                                    <option value="Francês">Francês</option>
                                    <option value="Grego">Grego</option>
                                    <option value="Haitiano">Haitiano</option>
                                    <option value="Havaiano">Havaiano</option>
                                    <option value="Hebraico">Hebraico</option>
                                    <option value="Híndi">Híndi</option>
                                    <option value="Holandês">Holandês</option>
                                    <option value="Húngaro">Húngaro</option>
                                    <option value="Indonésio">Indonésio</option>
                                    <option value="Inglês">Inglês</option>
                                    <option value="Irlandês">Irlandês</option>
                                    <option value="Islandês">Islandês</option>
                                    <option value="Italiano">Italiano</option>
                                    <option value="Japonês">Japonês</option>
                                    <option value="Latim">Latim</option>
                                    <option value="Lituano">Lituano</option>
                                    <option value="Luxemburguês">Luxemburguês</option>
                                    <option value="Macedônio">Macedônio</option>
                                    <option value="Mongol">Mongol</option>
                                    <option value="Norueguês">Norueguês</option>
                                    <option value="Persa">Persa</option>
                                    <option value="Polonês">Polonês</option>
                                    <option value="Português">Português</option>
                                    <option value="Romeno">Romeno</option>
                                    <option value="Russo">Russo</option>
                                    <option value="Sérvio">Sérvio</option>
                                    <option value="Sueco">Sueco</option>
                                    <option value="Tailandês">Tailandês</option>
                                    <option value="Tártaro">Tártaro</option>
                                    <option value="Tcheco">Tcheco</option>
                                    <option value="Turco">Turco</option>
                                    <option value="Turcomeno">Turcomeno</option>
                                    <option value="Uzbeque">Uzbeque</option>
                                    <option value="Vietnamita">Vietnamita</option>
                                </select>
                            </h1>
                            <br />
                            <h1 class="idioma">
                                <label for="idioma2" id="idioma">Idioma </label>
                                <select name="idioma2" id="idioma" asp-for="idioma2">
                                    <option value=""></option>
                                    <option value="Africâner">Africâner</option>
                                    <option value="Albanês">Albanês</option>
                                    <option value="Alemão">Alemão</option>
                                    <option value="Árabe">Árabe</option>
                                    <option value="Armênio">Armênio</option>
                                    <option value="Azerbaijano">Azerbaijano</option>
                                    <option value="Bielorrusso">Bielorrusso</option>
                                    <option value="Bósnio">Bósnio</option>
                                    <option value="Búlgaro">Búlgaro</option>
                                    <option value="Catalão">Catalão</option>
                                    <option value="Chinês (simplificado)">Chinês (simplificado)</option>
                                    <option value="Chinês (tradicional)">Chinês (tradicional)</option>
                                    <option value="Coreano">Coreano</option>
                                    <option value="Croata">Croata</option>
                                    <option value="Dinamarquês">Dinamarquês</option>
                                    <option value="Eslovaco">Eslovaco</option>
                                    <option value="Esloveno">Esloveno</option>
                                    <option value="Espanhol">Espanhol</option>
                                    <option value="Estoniano">Estoniano</option>
                                    <option value="Filipino">Filipino</option>
                                    <option value="Finlandês">Finlandês</option>
                                    <option value="Francês">Francês</option>
                                    <option value="Grego">Grego</option>
                                    <option value="Haitiano">Haitiano</option>
                                    <option value="Havaiano">Havaiano</option>
                                    <option value="Hebraico">Hebraico</option>
                                    <option value="Híndi">Híndi</option>
                                    <option value="Holandês">Holandês</option>
                                    <option value="Húngaro">Húngaro</option>
                                    <option value="Indonésio">Indonésio</option>
                                    <option value="Inglês">Inglês</option>
                                    <option value="Irlandês">Irlandês</option>
                                    <option value="Islandês">Islandês</option>
                                    <option value="Italiano">Italiano</option>
                                    <option value="Japonês">Japonês</option>
                                    <option value="Latim">Latim</option>
                                    <option value="Lituano">Lituano</option>
                                    <option value="Luxemburguês">Luxemburguês</option>
                                    <option value="Macedônio">Macedônio</option>
                                    <option value="Mongol">Mongol</option>
                                    <option value="Norueguês">Norueguês</option>
                                    <option value="Persa">Persa</option>
                                    <option value="Polonês">Polonês</option>
                                    <option value="Português">Português</option>
                                    <option value="Romeno">Romeno</option>
                                    <option value="Russo">Russo</option>
                                    <option value="Sérvio">Sérvio</option>
                                    <option value="Sueco">Sueco</option>
                                    <option value="Tailandês">Tailandês</option>
                                    <option value="Tártaro">Tártaro</option>
                                    <option value="Tcheco">Tcheco</option>
                                    <option value="Turco">Turco</option>
                                    <option value="Turcomeno">Turcomeno</option>
                                    <option value="Uzbeque">Uzbeque</option>
                                    <option value="Vietnamita">Vietnamita</option>
                                </select>
                            </h1>
                            <br />
                            <h1 class="idioma">
                                <label for="idioma3" id="idioma">Idioma </label>
                                <select name="idioma3" id="idioma3" asp-for="idioma3">
                                    <option value=""></option>
                                    <option value="Africâner">Africâner</option>
                                    <option value="Albanês">Albanês</option>
                                    <option value="Alemão">Alemão</option>
                                    <option value="Árabe">Árabe</option>
                                    <option value="Armênio">Armênio</option>
                                    <option value="Azerbaijano">Azerbaijano</option>
                                    <option value="Bielorrusso">Bielorrusso</option>
                                    <option value="Bósnio">Bósnio</option>
                                    <option value="Búlgaro">Búlgaro</option>
                                    <option value="Catalão">Catalão</option>
                                    <option value="Chinês (simplificado)">Chinês (simplificado)</option>
                                    <option value="Chinês (tradicional)">Chinês (tradicional)</option>
                                    <option value="Coreano">Coreano</option>
                                    <option value="Croata">Croata</option>
                                    <option value="Dinamarquês">Dinamarquês</option>
                                    <option value="Eslovaco">Eslovaco</option>
                                    <option value="Esloveno">Esloveno</option>
                                    <option value="Espanhol">Espanhol</option>
                                    <option value="Estoniano">Estoniano</option>
                                    <option value="Filipino">Filipino</option>
                                    <option value="Finlandês">Finlandês</option>
                                    <option value="Francês">Francês</option>
                                    <option value="Grego">Grego</option>
                                    <option value="Haitiano">Haitiano</option>
                                    <option value="Havaiano">Havaiano</option>
                                    <option value="Hebraico">Hebraico</option>
                                    <option value="Híndi">Híndi</option>
                                    <option value="Holandês">Holandês</option>
                                    <option value="Húngaro">Húngaro</option>
                                    <option value="Indonésio">Indonésio</option>
                                    <option value="Inglês">Inglês</option>
                                    <option value="Irlandês">Irlandês</option>
                                    <option value="Islandês">Islandês</option>
                                    <option value="Italiano">Italiano</option>
                                    <option value="Japonês">Japonês</option>
                                    <option value="Latim">Latim</option>
                                    <option value="Lituano">Lituano</option>
                                    <option value="Luxemburguês">Luxemburguês</option>
                                    <option value="Macedônio">Macedônio</option>
                                    <option value="Mongol">Mongol</option>
                                    <option value="Norueguês">Norueguês</option>
                                    <option value="Persa">Persa</option>
                                    <option value="Polonês">Polonês</option>
                                    <option value="Português">Português</option>
                                    <option value="Romeno">Romeno</option>
                                    <option value="Russo">Russo</option>
                                    <option value="Sérvio">Sérvio</option>
                                    <option value="Sueco">Sueco</option>
                                    <option value="Tailandês">Tailandês</option>
                                    <option value="Tártaro">Tártaro</option>
                                    <option value="Tcheco">Tcheco</option>
                                    <option value="Turco">Turco</option>
                                    <option value="Turcomeno">Turcomeno</option>
                                    <option value="Uzbeque">Uzbeque</option>
                                    <option value="Vietnamita">Vietnamita</option>
                                </select>
                            </h1>
                        </div>
                        <!--=================================================================================================================================================================================================================-->
                        <div style="float: left; margin: -100px 400px; text-align: justify; width: 30%;">
                            <img width="130%" class="ilustrativa3" src="~/img/curriculoex3.jpg">
                            <div class="button">
                                <input type="submit" value="Avançar" class="advanceButtonFinal" href="~/Cadastro/Salvar4?id=@Model.cpf" />

                                <!--<button asp-area="" asp-controller="Home" asp-action="Index" class="advanceButton3" href="~/Cadastro/Salvar4?id=@Model.cpf">
        Avançar
    </button>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <div id="rodapéForm">

    </div>
</body>

</html>