header {
    position: relative;
    margin: 1% -19%;

}

#nav-menu {
    background-color: #7589df;
    border: 8px groove #ccc;
    height: 50px;
    width: 1450px;
}

#site-name {
    font-size: 30;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: start;
    margin-top: 1px;
    padding: 10px
}

#uniaoDivs {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,15,221,1) 47%, rgba(2,0,36,1) 98%);
    /*background: #ffffff;
    background: #21CE6D;
    background: -moz-linear-gradient(left, #21CE6D 0%, #1934A4 49%, #8AC53F 100%);
    background: -webkit-linear-gradient(left, #21CE6D 0%, #1934A4 49%, #8AC53F 100%);
    background: linear-gradient(to right, #21CE6D 0%, #1934A4 49%, #8AC53F 100%);*/
    height: 12px;
}

#cargo{
    width: 500px;
    font-size: 32:
}

#cargo input {
    width: 500px;
    font-size: 32:
}

img.imgLehr {
    text-align: justify;
    font-style: italic;
    font-size: large;
    text-indent: 0;
    margin: 10px 10%;
    float: left;
}

.imgConfirma {
    margin:5% 45%;
    width: 900px;
}

#sucessoMensagem {
    text-align:center;
}

#btnAvancar2 {
    margin: 0% 45%;
    width: 11px;
    text-align: left;
    padding: 0;
    font-size: 800px;
}

img.imgCaio {
    text-align: justify;
    font-style: italic;
    font-size: large;
    text-indent: 0;
    margin: -150px 210px;
    float: right;
}

.pLehr {
    font-style: italic;
    font-size: xx-large;
    text-indent: 0;
    margin: 150px 150px;
}

.pCaio {
    font-style: italic;
    text-indent: 0;
    font-size: xx-large;
    margin: 300px 10%;
}

.sobre h1 {
    margin: 40px;
    text-align: center;
    font-size: 20px;
}

#FormPessoal {
    margin: 0px 3%;
}

    #FormPessoal input {
        width: 210px;
        height: 25px;
        font-size: 16px;
    }

    #FormPessoal select {
        width: 230px;
        height: ;
        font-size: 16px;
    }

#divPessoal {
    margin: 0px 3%;
}

    #divPessoal input {
        width: 210px;
        height: 25px;
        font-size: 16px;
    }

    #divPessoal select {
        width: 230px;
        height: 50px;
        font-size: 16px;
    }

#FormFormacao {
    margin: 0px 3%;
}

    #FormFormacao input {
        width: 250px;
        height: 29px;
        font-size: 20px;
    }

    #FormFormacao label {
        font-size: 26px;
    }

#FormExp input {
    width: 210px;
    height: 25px;
    font-size: 20px;
}

#idioma {
    font-size:20;
}

#sucessoMensagem {
    font-size: 28px;
    color: rgb(16, 7, 94);
    text-decoration: underline;
    text-align: center;
    margin: 10px 20%;
    width: 650px;
}

#FormExp select {
    width: 230px;
    height: 25px;
    font-size: 20px;
    font-size: 20px;
}

#CabecalhoCurso {
    font-size: 29px;
    color: rgb(26, 3, 8);
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 28%;
    width: 350px;
}

#FormFormacao select {
    width: 250px;
    height: 29px;
    font-size: 20px;
}

#FormIdioma select {
    width: 250px;
    height: 29px;
    font-size: 15px;
}

input#botao {
    width: 75px;
    height: 25px;
    font-size: 16px;
}

h1.pessoais label {
    font-size: 22px;
}

.ilustrativa1 {
    margin: 100px -20%;
}

#background {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,15,221,1) 47%, rgba(2,0,36,1) 98%);
    /*background: #21CE6D;
    background: -moz-linear-gradient(left, #21CE6D 0%, #1934A4 49%, #8AC53F 100%);
    background: -webkit-linear-gradient(left, #21CE6D 0%, #1934A4 49%, #8AC53F 100%);
    background: linear-gradient(to right, #21CE6D 0%, #1934A4 49%, #8AC53F 100%);*/
    position: absolute;
    height: 800px;
    width: 1450px;
    margin: 0px -11%;
}

.titlePessoal {
    font-size: 24px;
    color: rgb(16, 7, 94);
    background-color: rgb(12, 209, 235);
    text-decoration: underline;
    text-align: center;
    margin: 10px 28%;
    width: 470px;
    width: 470px;
}

.titleFormacao {
    font-size: 28px;
    color: rgb(16, 7, 94);
    background-color: rgb(12, 209, 235);
    text-decoration: underline;
    text-align: center;
    margin: 10px 20%;
    width: 650px;
}

.titleIdioma {
    font-size: 28px;
    color: rgb(16, 7, 94);
    background-color: rgb(12, 209, 235);
    text-decoration: underline;
    text-align: center;
    margin: 10px 20%;
    width: 650px;
}

.titleExp {
    font-size: 28px;
    color: rgb(16, 7, 94);
    background-color: rgb(12, 209, 235);
    text-decoration: underline;
    text-align: center;
    margin: 10px 20%;
    width: 650px;
}

.ilustrativa3 {
    margin: -120px 60%;
}

h1.expProf label {
    font-size: 22px;
}
h1.expProf {
    margin: 60px 0%;   
}

#sub-background {
    background: #ffffff;
    line-height: 60px;
    margin: 0px 13%;
    height: 700px;
    width: 1150px;
}

.textoMenor {
    width: 600px;
    font-size: 15px;
    margin: -110px 31%;
    color: red;
}

#cursos input{
    width: 0px 600px;
}

.semCursos {
    margin: 10% 0px;
}

.textoMaior {
    width: 600px;
    margin: 115px 31%;
    font-size: 26px;
    color: white;
}

.textoMédio {
    width: 600px;
    margin: 0px 31%;
    font-size: 22px;
    color: white;
}

.myButton1 {
    box-shadow: inset 0px 0px 19px -9px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 27px;
    border: 4px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    width: 430px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    padding: 20px 100px;
    text-decoration: none;
    text-shadow: -1px -2px 0px #1570cd;
    text-align: justify;
    margin: 90px 40%;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color: #1e62d0;
        text-align: center;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

.advanceButton:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
    text-align: center;
}

.advanceButton:active {
    position: relative;
    top: 1px;
}

.advanceButton {
    box-shadow: inset 0px 0px 19px -9px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 27px;
    border: 4px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25;
    font-weight: bold;
    font-style: italic;
    padding: 60px 70px;
    padding-top: 10px;
    text-decoration: none;
    text-shadow: -1px -2px 0px #1570cd;
    text-align: justify;
    margin: -100px 0%;
    height: 10px;
}

#listagem{
    margin: 1% 0px;
}

    .advanceButton3:hover {
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color: #1e62d0;
        text-align: center;
    }

    .advanceButton3:active {
        position: relative;
        top: 1px;
    }

.advanceButton3 {
    box-shadow: inset 0px 0px 19px -9px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 27px;
    border: 4px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 70px;
    text-decoration: none;
    text-shadow: -1px -2px 0px #1570cd;
    text-align: center;
    padding-top:10px; 
    margin: 100px -50%;
}

/*table.tblSelect {
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #555555;
    background-color: #343355;
    width: 1000px;
    height: 790px;
    border-collapse: collapse;
}

    table.tblSelect td, table.tblSelect th {
        border: 1px solid #555555;
        padding: 5px 10px;
    }

        table.tblSelect th.link {
            border: 1px solid #555555;
            padding: 1px 0px;
        }

    table.tblSelect tbody td {
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
    }

    table.tblSelect td:nth-child(even) {
        background: #398AA4;
    }

    table.tblSelect a {
        color: white;
    }

    table.tblSelect thead {
        background: #398AA4;
        border-bottom: 10px solid #398AA4;
    }

        table.tblSelect thead th {
            font-size: 15px;
            font-weight: bold;
            color: #FFFFFF;
            text-align: left;
            border-left: 2px solid #398AA4;
        }

            table.tblSelect thead th:first-child {
                border-left: none;
            }

    table.tblSelect tfoot td {
        font-size: 15px;
    }

    table.tblSelect tfoot .links {
        text-align: right;
    }

        table.tblSelect tfoot .links a {
            display: inline-block;
            background: #FFFFFF;
            color: #398AA4;
            padding: 2px 8px;
            border-radius: 5px;
        }
        */
.link{
    width: 5% 5%; 
}
.table table-responsive table-striped table-dark{
    width: 70%;
}
#under-header img {
    margin-top: 30px;
    width: 140px;
    position: relative;
}

#under-header button {
    margin-top: 30px;
    font-size: 14px;
    text-align: right;
    width: 140px;
    position: relative;
}

#sub-menu {
    margin-top: 100px;
    text-align: start;
    font-size: 24;
}

#rodapé {
    background-color: #7589df;
    height: 90px;
    width: 1450px;
    border: 8px groove #ccc;
    position: absolute;
    bottom: 0;
    margin: 0% -11%;
}

#rodapéForm {
    background-color: #7589df;
    height: 84px;
    width: 1450px;
    border: 8px groove #ccc;
    position: center;
    bottom: 0;
    margin: 7% 0%;
}

.menu-right {
    text-align: right;
    margin-top: -20px;
    padding-right: 20px;
}

.advanceButtonFinal:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
    text-align: center;
}

.advanceButtonFinal:active {
    position: relative;
    top: 1px;
}

.advanceButtonFinal {
    box-shadow: inset 0px 0px 19px -9px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 27px;
    border: 4px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25;
    font-weight: bold;
    font-style: italic;
    padding: 60px 70px;
    padding-top: 10px;
    text-decoration: none;
    text-shadow: -1px -2px 0px #1570cd;
    text-align: justify;
    margin: 40% -37%;
    height: 10px;
}